html,
body {
  height: 100%;
}

body {
  height: 100%;
  background: url("../img/wall.jpg") no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.switchers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.switch {
  display: inline-block;
  font-size: 30px;
  height: 1em;
  width: 2em;
  border: 5px solid #ffffff;
  background: #ffffff;
  -webkit-box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  cursor: pointer;
}

.switch__img {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background-size: cover;
  -webkit-box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.switch__input:checked + .switch__img {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

#switch-lang-img {
  background-image: url("../img/ru.png");
}

#switch-vol-img {
  background-image: url("../img/vol-mute.png");
}

.clock {
  position: relative;
  margin-top: 20px;
  border-radius: 100%;
  border: 5px solid #ffffff;
  background: #ffffff;
  -webkit-box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.clock__details {
  position: absolute;
  left: 35%;
  font-size: 24px;
}

.clock__time {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.minutes,
.hours {
  position: absolute;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 6px;
  height: 100px;
  margin: auto;
  background: #000000;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.minutes {
  position: absolute;
  top: -38%;
  left: 0;
  width: 4px;
  height: 130px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.seconds {
  position: absolute;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 90px;
  margin: auto;
  border-radius: 4px;
  background: #ff4b3e;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: #ffffff;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}

.calendar {
  width: 160px;
  margin-top: 20px;
}

.calendar__header {
  position: relative;
  height: 45px;
  background: #cd5c5c;
}

.calendar__header::before, .calendar__header::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 40px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  z-index: 3;
}

.calendar__header::after {
  left: initial;
  right: 40px;
}

.calendar__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  padding: 10px 30px 15px;
  text-align: center;
  background: #eee;
}

.calendar__footer {
  height: 12px;
  background: #a9a9a9;
}

.month {
  font-weight: 600;
}

.day {
  font-size: 60px;
  font-weight: 700;
}

.weekday {
  font-size: 18px;
}

.year {
  font-size: 12px;
}
