:root {
  --audio-widget-w: 60%;
  --audio-info-fs: 1.5em;
  --audio-controls-btns-w: 150px;
  --audio-progress-w: 200px;
  --audio-duration-b: -30px;
  --audio-dur-fs: 0.9em;
}

@media (max-width: 1024px) {
  :root {
    --audio-info-fs: 1.2em;
    --audio-progress-w: 150px;
    --audio-duration-b: -20px;
    --audio-dur-fs: 0.7em;
  }
}

@media (max-width: 768px) {
  :root {
    --audio-widget-w: 40%;
    --audio-controls-btns-w: 100%;
    --audio-progress-w: 100%;
  }
}

@media (max-width: 420px) {
  :root {
    --audio-widget-w: 50%;
  }
}

.audio-widget {
  width: var(--audio-widget-w);
  padding: var(--widgets-p);

  &-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    @media (max-width: 768px) {
      margin-bottom: 1.5em;
    }
  }

  &-playlist {
    list-style-type: none;
  }
}

.audio-widget-info {
  &__name {
    margin-bottom: 0.5em;
    font-size: var(--audio-info-fs);

    @media (max-width: 768px) {
      margin-bottom: 1em;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    column-gap: 2em;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: baseline;
      row-gap: 20px;
    }

    @media (max-width: 420px) {
      row-gap: 30px;
    }
  }
}

.audio-widget-progress {
  position: relative;
  width: var(--audio-progress-w);

  &__track {
    display: flex;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    transition: height 0.3s;
    background: $color-dark;
    cursor: pointer;
  }

  &__track-filled {
    background: $text-primary;
    flex: 0;
    flex-basis: 0%;
    border-radius: 5px;
  }

  &__track-filled.active {
    transition: filter 0.7s linear, flex-basis 0.2s ease-in-out;
    filter: $filter-purple;
  }

  &__duration {
    position: absolute;
    bottom: var(--audio-duration-b);
    right: 0;
    flex-basis: 10%;
    font-size: var(--audio-dur-fs);
  }
}

.audio-widget-control-btns {
  display: flex;
  justify-content: space-between;
  width: var(--audio-controls-btns-w);

  & .btn {
    width: 2em;
    height: 2em;
  }
}

.audio-widget-prev-btn {
  background: url('../img/prev-audio.png');
  background-size: contain;
}

.audio-widget-play-btn {
  background: url('../img/play-audio.png');
  background-size: contain;
}

.audio-widget-pause-btn {
  background: url('../img/pause-audio.png');
  background-size: contain;
}

.audio-widget-next-btn {
  background: url('../img/next-audio.png');
  background-size: contain;
}

.audio-widget-control-volume {
  display: flex;
  align-items: center;
  column-gap: 1em;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.audio-widget-volume-btn {
  width: 2em;
  height: 2em;
  background-image: url('../img/unmute.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.audio-widget-volume-range {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: $text-primary;
  }

  &::-webkit-slider-thumb:hover {
    transition: 0.7s linear;
    filter: $filter-purple;
  }

  background: linear-gradient(to right, $text-primary 0%, $text-primary 45%, $color-dark 30%, $color-dark 100%);
}

.playlist-item {
  display: flex;
  align-items: center;
  column-gap: 1em;
  width: fit-content;
  height: 2em;
  transition: 0.7s linear;

  &:hover,
  &.active {
    filter: $filter-purple;
  }

  &__name {
    cursor: pointer;
  }

  &__small-btn {
    width: 1em;
    height: 1em;
    background-size: contain;
    background-color: transparent;
  }

  &__small-btn.play {
    background-image: url('../img/play-audio.png');
  }

  &__small-btn.pause {
    background-image: url('../img/pause-audio.png');
  }
}
