:root {
  --weather-widget-w: 60%;
  --weather-city-fs: 1.5em;
  --weather-error-fs: 1.3em;
  --weather-info-fs: 1.5em;
  --weather-info-main-cg: 1em;
  --weather-info-main-fs: 2em;
}

@media (max-width: 1024px) {
  :root {
    --weather-city-fs: 1.2em;
    --weather-error-fs: 1em;
    --weather-info-fs: 1.3em;
  }
}

@media (max-width: 768px) {
  :root {
    --weather-widget-w: 40%;
    --weather-info-fs: 1.1em;
    --weather-info-main-cg: 0.5em;
    --weather-info-main-fs: 1.5em;
  }
}

@media (max-width: 420px) {
  :root {
    --weather-info-fs: 0.8em;
  }
}

.weather-widget {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: var(--weather-widget-w);
  padding: var(--widgets-p);

  @media (max-width: 420px) {
    row-gap: 0em;
  }

  &__city {
    padding-bottom: 0.2em;
    font-size: var(--weather-city-fs);

    .input {
      text-align: end;
    }
  }

  &__error {
    height: 70%;
    text-align: end;
    font-size: var(--weather-error-fs);
    color: #ff2424;
  }

  &__error.hidden {
    display: none;
  }

  &__info {
    text-align: end;
    font-size: var(--weather-info-fs);
  }
}

.weather-widget__info li + li {
  margin-top: 0.5em;
}

.weather-info-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: var(--weather-info-main-cg);
  font-size: var(--weather-info-main-fs);
}

.weather-desc {
  text-transform: capitalize;
}
