/*
All the resets, variables, mixins, and utility classes
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #d8d8d8;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.btn {
  border: none;
  outline: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-transform: capitalize;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.input-active {
  color: red;
}

.input-inactive {
  color: #d8d8d8;
}

.hidden {
  display: none;
}

/*
All styles relating to a reusable component
*/
.weather-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  padding: 1em;
}

.weather-widget__city {
  padding-bottom: 0.2em;
  font-size: 1.5em;
  border-bottom: 1px solid #d8d8d8;
}

.weather-widget__error {
  height: 70%;
  font-size: 1.6em;
}

.weather-widget__info {
  list-style: none;
  font-size: 1.5em;
}

.weather-widget__info li + li {
  margin-top: .5em;
}

.weather-info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  font-size: 2em;
}

.weather-desc {
  text-transform: capitalize;
}

/*
Styles for the header, footer, the grid system e.t.c.
*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

.header__widget {
  width: 300px;
  height: 300px;
  background-color: green;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

.time {
  font-size: 10em;
}

.date {
  font-size: 2em;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.2em;
          column-gap: 0.2em;
  margin-top: 1em;
  font-size: 3em;
}

.greeting__daytime {
  width: 60%;
  text-align: right;
}

.greeting__name {
  width: 40%;
  padding-top: 4px;
}

.slide-btn {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
}

.slide-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slide-prev-btn {
  left: 2em;
  background: url("/momentum/img/prev.png");
  background-size: contain;
}

.slide-next-btn {
  right: 2em;
  background: url("/momentum/img/next.png");
  background-size: contain;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

.quote-change {
  width: 50px;
  height: 50px;
  background: url("/momentum/img/refresh.png");
  background-size: contain;
}

.quote-change-revert {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
