/*
All the resets, variables, mixins, and utility classes
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #d8d8d8;
  background: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
  background-size: cover;
}

ul {
  list-style-type: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-transform: capitalize;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.input-active {
  color: #d8d8d8;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.input-inactive {
  color: #d8d8d8;
}

.hidden {
  display: none;
}

/*
All styles relating to a reusable component
*/
.weather-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  width: 300px;
  padding: 1em;
}

.weather-widget__city {
  padding-bottom: 0.2em;
  font-size: 1.5em;
  border-bottom: 1px solid #d8d8d8;
}

.weather-widget__error {
  height: 70%;
  font-size: 1.6em;
  color: #c52929;
}

.weather-widget__info {
  font-size: 1.5em;
}

.weather-widget__info li + li {
  margin-top: .5em;
}

.weather-info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  font-size: 2em;
}

.weather-desc {
  text-transform: capitalize;
}

.audio-widget {
  width: 600px;
  padding: 2em;
}

.audio-widget-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.audio-widget-playlist {
  list-style-type: none;
}

.audio-widget-info__name {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.audio-widget-info__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.audio-widget-progress {
  position: relative;
}

.audio-widget-progress__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 8px;
  border-radius: 5px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  background: #383838;
  cursor: pointer;
}

.audio-widget-progress__track-filled {
  background: #d8d8d8;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  border-radius: 5px;
}

.audio-widget-progress__track-filled.active {
  -webkit-transition: -webkit-filter 0.7s linear, -webkit-flex-basis 0.2s ease-in-out;
  transition: -webkit-filter 0.7s linear, -webkit-flex-basis 0.2s ease-in-out;
  transition: filter 0.7s linear, flex-basis 0.2s ease-in-out;
  transition: filter 0.7s linear, flex-basis 0.2s ease-in-out, -webkit-filter 0.7s linear, -webkit-flex-basis 0.2s ease-in-out, -ms-flex-preferred-size 0.2s ease-in-out;
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.audio-widget-progress__duration {
  position: absolute;
  bottom: -30px;
  right: 0;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: 0.9em;
}

.audio-widget-control-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.audio-widget-control-btns .btn {
  width: 2em;
  height: 2em;
}

.audio-widget-prev-btn {
  background: url("/momentum/img/prev-audio.png");
  background-size: contain;
}

.audio-widget-play-btn {
  background: url("/momentum/img/play-audio.png");
  background-size: contain;
}

.audio-widget-pause-btn {
  background: url("/momentum/img/pause-audio.png");
  background-size: contain;
}

.audio-widget-next-btn {
  background: url("/momentum/img/next-audio.png");
  background-size: contain;
}

.audio-widget-control-volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.audio-widget-volume-btn {
  width: 2em;
  height: 2em;
  background-image: url("/momentum/img/mute.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.audio-widget-volume-range {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#d8d8d8), color-stop(45%, #d8d8d8), color-stop(30%, #383838), to(#383838));
  background: linear-gradient(to right, #d8d8d8 0%, #d8d8d8 45%, #383838 30%, #383838 100%);
}

.audio-widget-volume-range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #d8d8d8;
}

.audio-widget-volume-range::-webkit-slider-thumb:hover {
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.playlist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2em;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.playlist-item:hover, .playlist-item.active {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.playlist-item__small-btn {
  width: 1em;
  height: 1em;
  background-size: contain;
  background-color: transparent;
}

.playlist-item__small-btn.play {
  background-image: url("/momentum/img/play-audio.png");
}

.playlist-item__small-btn.pause {
  background-image: url("/momentum/img/pause-audio.png");
}

/*
Styles for the header, footer, the grid system e.t.c.
*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

.time {
  font-size: 10em;
}

.date {
  font-size: 2em;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.2em;
          column-gap: 0.2em;
  margin-top: 1em;
  font-size: 3em;
}

.greeting__daytime {
  width: 60%;
  text-align: right;
}

.greeting__name {
  width: 40%;
  padding-top: 4px;
}

.slide-btn {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
}

.slide-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slide-prev-btn {
  left: 2rem;
  background: url("/momentum/img/prev.png") no-repeat;
  background-size: contain;
}

.slide-next-btn {
  right: 2rem;
  background: url("/momentum/img/next.png") no-repeat;
  background-size: contain;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

.quote-change {
  width: 30px;
  height: 30px;
  background: url("/momentum/img/refresh.png");
  background-size: contain;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.quote-change-revert {
  -webkit-transform: rotateX(190deg);
          transform: rotateX(190deg);
}

.quote {
  padding-top: 2em;
}

.quote__text {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}

.quote__author {
  padding-top: 1em;
  text-align: right;
  font-size: 1.2em;
}

.setting-btn {
  position: absolute;
  bottom: 2em;
  left: 2em;
  width: 50px;
  height: 50px;
  background: url("/momentum/img/settings.png");
  background-size: contain;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
  cursor: pointer;
}

.setting-btn:hover {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.setting-btn.revert {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.setting-area {
  position: absolute;
  left: 2em;
  bottom: 7em;
  width: 500px;
  height: 500px;
  padding: 0 2em;
  background-color: #383838;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.setting-area.show {
  opacity: 1;
}

.setting-section {
  padding: 1.5em 0;
}

.setting-section:not(:last-of-type) {
  border-bottom: 1px solid #d8d8d8;
}

.setting-section__heading {
  padding-bottom: .5em;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.setting-section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.setting-section__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1.1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d8d8d8;
  border-radius: 50%;
}

.radio-container .radio-input:checked ~ .radio-checkmark {
  background-color: #9400D3;
}

.radio-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d8d8d8;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1.1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d8d8d8;
}

.checkbox-container:hover .checkbox-input ~ .checkbox-checkmark {
  background-color: #ccc;
}

.checkbox-container .checkbox-input:checked ~ .checkbox-checkmark {
  background-color: #9400D3;
}

.checkbox-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container .checkbox-input:checked ~ .checkbox-checkmark:after {
  display: block;
}

.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #d8d8d8;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
