/*
All the resets, variables, mixins, and utility classes
*/
:root {
  --widgets-p: 2em;
  --checkbox-container-fs: 1.1em;
}

@media (max-width: 1024px) {
  :root {
    --checkbox-container-fs: 0.8em;
  }
}

@media (max-width: 768px) {
  :root {
    --widgets-p: 0.8em;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: #9400D3;
}

::-moz-selection {
  background-color: #9400D3;
}

::selection {
  background-color: #9400D3;
}

body {
  font-family: 'Lato', sans-serif;
  color: #d8d8d8;
  background: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
  background-size: cover;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-transform: capitalize;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.input-active {
  color: #d8d8d8;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.input-inactive {
  color: #d8d8d8;
}

.input:disabled {
  color: #d8d8d8;
}

.hidden {
  opacity: 0;
  z-index: -1;
}

.widget, .todolist {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 130px;
  height: 35px;
  padding-left: 35px;
  font-size: var(--checkbox-container-fs);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-checkmark {
  position: absolute;
  top: 14%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d8d8d8;
}

.checkbox-container:hover .checkbox-input ~ .checkbox-checkmark {
  background-color: #ccc;
}

.checkbox-container .checkbox-input:checked ~ .checkbox-checkmark {
  background-color: #9400D3;
}

.checkbox-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container .checkbox-input:checked ~ .checkbox-checkmark:after {
  display: block;
}

.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #d8d8d8;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*
All styles relating to a reusable component
*/
:root {
  --weather-widget-w: 60%;
  --weather-city-fs: 1.5em;
  --weather-error-fs: 1.3em;
  --weather-info-fs: 1.5em;
  --weather-info-main-cg: 1em;
  --weather-info-main-fs: 2em;
}

@media (max-width: 1024px) {
  :root {
    --weather-city-fs: 1.2em;
    --weather-error-fs: 1em;
    --weather-info-fs: 1.3em;
  }
}

@media (max-width: 768px) {
  :root {
    --weather-widget-w: 40%;
    --weather-info-fs: 1.1em;
    --weather-info-main-cg: .5em;
    --weather-info-main-fs: 1.5em;
  }
}

@media (max-width: 420px) {
  :root {
    --weather-info-fs: 1em;
  }
}

.weather-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  width: var(--weather-widget-w);
  padding: var(--widgets-p);
}

.weather-widget__city {
  padding-bottom: 0.2em;
  font-size: var(--weather-city-fs);
}

.weather-widget__city .input {
  text-align: end;
}

.weather-widget__error {
  height: 70%;
  text-align: end;
  font-size: var(--weather-error-fs);
  color: #ff2424;
}

.weather-widget__error.hidden {
  display: none;
}

.weather-widget__info {
  text-align: end;
  font-size: var(--weather-info-fs);
}

.weather-widget__info li + li {
  margin-top: 0.5em;
}

.weather-info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: var(--weather-info-main-cg);
          column-gap: var(--weather-info-main-cg);
  font-size: var(--weather-info-main-fs);
}

.weather-desc {
  text-transform: capitalize;
}

:root {
  --audio-widget-w: 60%;
  --audio-info-fs: 1.5em;
  --audio-controls-btns-w: 150px;
  --audio-progress-w: 200px;
  --audio-duration-b: -30px;
  --audio-dur-fs: 0.9em;
}

@media (max-width: 1024px) {
  :root {
    --audio-info-fs: 1.2em;
    --audio-progress-w: 150px;
    --audio-duration-b: -20px;
    --audio-dur-fs: 0.7em;
  }
}

@media (max-width: 768px) {
  :root {
    --audio-widget-w: 40%;
    --audio-controls-btns-w: 100%;
    --audio-progress-w: 100%;
  }
}

@media (max-width: 420px) {
  :root {
    --audio-widget-w: 50%;
  }
}

.audio-widget {
  width: var(--audio-widget-w);
  padding: var(--widgets-p);
}

.audio-widget-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  .audio-widget-info {
    margin-bottom: 1.5em;
  }
}

.audio-widget-playlist {
  list-style-type: none;
}

.audio-widget-info__name {
  margin-bottom: 0.5em;
  font-size: var(--audio-info-fs);
}

@media (max-width: 768px) {
  .audio-widget-info__name {
    margin-bottom: 1em;
  }
}

.audio-widget-info__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

@media (max-width: 768px) {
  .audio-widget-info__controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    row-gap: 20px;
  }
}

@media (max-width: 420px) {
  .audio-widget-info__controls {
    row-gap: 30px;
  }
}

.audio-widget-progress {
  position: relative;
  width: var(--audio-progress-w);
}

.audio-widget-progress__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  background: #383838;
  cursor: pointer;
}

.audio-widget-progress__track-filled {
  background: #d8d8d8;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  border-radius: 5px;
}

.audio-widget-progress__track-filled.active {
  -webkit-transition: -webkit-filter 0.7s linear, -webkit-flex-basis 0.2s ease-in-out;
  transition: -webkit-filter 0.7s linear, -webkit-flex-basis 0.2s ease-in-out;
  transition: filter 0.7s linear, flex-basis 0.2s ease-in-out;
  transition: filter 0.7s linear, flex-basis 0.2s ease-in-out, -webkit-filter 0.7s linear, -webkit-flex-basis 0.2s ease-in-out, -ms-flex-preferred-size 0.2s ease-in-out;
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.audio-widget-progress__duration {
  position: absolute;
  bottom: var(--audio-duration-b);
  right: 0;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: var(--audio-dur-fs);
}

.audio-widget-control-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: var(--audio-controls-btns-w);
}

.audio-widget-control-btns .btn {
  width: 2em;
  height: 2em;
}

.audio-widget-prev-btn {
  background: url("../img/prev-audio.png");
  background-size: contain;
}

.audio-widget-play-btn {
  background: url("../img/play-audio.png");
  background-size: contain;
}

.audio-widget-pause-btn {
  background: url("../img/pause-audio.png");
  background-size: contain;
}

.audio-widget-next-btn {
  background: url("../img/next-audio.png");
  background-size: contain;
}

.audio-widget-control-volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

@media (max-width: 768px) {
  .audio-widget-control-volume {
    width: 100%;
  }
}

.audio-widget-volume-btn {
  width: 2em;
  height: 2em;
  background-image: url("../img/unmute.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.audio-widget-volume-range {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#d8d8d8), color-stop(45%, #d8d8d8), color-stop(30%, #383838), to(#383838));
  background: linear-gradient(to right, #d8d8d8 0%, #d8d8d8 45%, #383838 30%, #383838 100%);
}

.audio-widget-volume-range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #d8d8d8;
}

.audio-widget-volume-range::-webkit-slider-thumb:hover {
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.playlist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2em;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.playlist-item:hover, .playlist-item.active {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.playlist-item__small-btn {
  width: 1em;
  height: 1em;
  background-size: contain;
  background-color: transparent;
}

.playlist-item__small-btn.play {
  background-image: url("../img/play-audio.png");
}

.playlist-item__small-btn.pause {
  background-image: url("../img/pause-audio.png");
}

:root {
  --setting-area-b: 7em;
  --setting-area-w: 40%;
  --setting-area-mw: 550px;
  --setting-area-p: 0 2em;
  --setting-section-p: 1.5em 0;
  --setting-section-heading-pb: 1em;
  --setting-section-heading-fs: 1.2em;
  --setting-radio-h: 40px;
  --setting-radio-fs: 1.1em;
  --setting-radio-checkmark-s: 25px;
  --setting-radio-checkmark-after-t: 33%;
  --setting-radio-checkmark-after-l: 36%;
}

@media (max-width: 1024px) {
  :root {
    --setting-area-b: 5em;
    --setting-area-w: 50%;
    --setting-area-mw: 450px;
    --setting-area-p: 0 1em;
    --setting-section-p: 1em 0;
    --setting-section-heading-pb: 0.6em;
    --setting-section-heading-fs: 1em;
    --setting-radio-h: 30px;
    --setting-radio-fs: 0.8em;
    --setting-radio-checkmark-s: 20px;
    --setting-radio-checkmark-after-t: 30%;
    --setting-radio-checkmark-after-l: 32%;
  }
}

@media (max-width: 768px) {
  :root {
    --setting-area-w: calc(100% - var(--widgets-p) * 2);
    --setting-area-mw: 100%;
  }
}

.setting-area {
  position: absolute;
  left: var(--widgets-p);
  bottom: var(--setting-area-b);
  width: var(--setting-area-w);
  max-width: var(--setting-area-mw);
  height: auto;
  padding: var(--setting-area-p);
  background-color: #383838;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: -1;
}

.setting-area.show {
  z-index: 2;
  opacity: 1;
}

.setting-area__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-tag {
  height: 2em;
  padding: 1em;
  background-color: #242424;
}

.setting-section {
  padding: var(--setting-section-p);
}

.setting-section--underline {
  border-bottom: 1px solid #d8d8d8;
}

.setting-section__heading {
  padding-bottom: var(--setting-section-heading-pb);
  line-height: 20px;
  font-weight: 400;
  font-size: var(--setting-section-heading-fs);
  color: #fff;
  text-transform: uppercase;
}

.setting-section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.setting-section__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .setting-section-tag {
    width: 40%;
  }
}

.photo-note {
  padding-top: 1em;
  font-size: 12px;
}

.radio-container {
  display: block;
  position: relative;
  height: var(--setting-radio-h);
  padding-left: 35px;
  cursor: pointer;
  font-size: var(--setting-radio-fs);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-checkmark {
  position: absolute;
  left: 0;
  height: var(--setting-radio-checkmark-s);
  width: var(--setting-radio-checkmark-s);
  background-color: #d8d8d8;
  border-radius: 50%;
}

.radio-container .radio-input:checked ~ .radio-checkmark {
  background-color: #9400D3;
}

.radio-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after {
  top: var(--setting-radio-checkmark-after-t);
  left: var(--setting-radio-checkmark-after-l);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d8d8d8;
}

:root {
  --todo-popup-b: 7em;
  --todo-popup-w: 40%;
  --todo-popup-mw: 550px;
  --todo-popup-h: 610px;
  --todo-popup-p: 0 2em;
  --todo-popup-heading-p: 2em 0;
  --todo-input-fs: 1.5em;
  --todo-item-mt: 1em;
}

@media (max-width: 1024px) {
  :root {
    --todo-popup-b: 5em;
    --todo-popup-w: 50%;
    --todo-popup-mw: 450px;
    --todo-popup-h: 438px;
    --todo-popup-p: 0 1em;
    --todo-popup-heading-p: 0.7em 0;
    --todo-input-fs: 1.1em;
    --todo-item-mt: 0.3em;
  }
}

@media (max-width: 768px) {
  :root {
    --todo-popup-w: calc(100% - var(--widgets-p) * 2);
    --todo-popup-mw: 100%;
  }
}

.todo-popup {
  position: absolute;
  right: var(--widgets-p);
  bottom: var(--todo-popup-b);
  width: var(--todo-popup-w);
  max-width: var(--todo-popup-mw);
  padding: var(--todo-popup-p);
  height: var(--todo-popup-h);
  background-color: #383838;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo-popup.show {
  z-index: 2;
  opacity: 1;
}

.todo-popup__heading {
  padding: var(--todo-popup-heading-p);
}

.new-todo-input {
  margin-top: auto;
  height: 70px;
  font-size: var(--todo-input-fs);
}

.todolist {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.todolist::-webkit-scrollbar {
  width: 0.5em;
}

.todolist::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #242424;
}

.todolist::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d8d8d8;
}

.todolist.hidden {
  position: absolute;
  left: -999px;
}

.todolist-empty {
  padding-top: 130px;
  text-align: center;
}

.todolist-empty .note {
  display: block;
  margin-top: 5px;
  color: #6d6d6d;
}

.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-item--completed .todo-item-text {
  text-decoration: line-through;
  color: #9400D3;
}

.todo-item .hidden {
  display: none;
}

.todo-item-text {
  display: block;
  width: 370px;
  height: auto;
  cursor: default;
  outline: 0;
  word-wrap: break-word;
  color: #d8d8d8;
}

@media (max-width: 768px) {
  .todo-item-text {
    width: 80%;
  }
}

.todo-item .checkbox-container {
  width: 50px;
  margin: 0;
  padding: 0;
}

.todo-item-menu-area {
  position: relative;
}

.todo-item-menu {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 20px;
  background-image: url("../img/todo-menu.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.todo-item + .todo-item {
  margin-top: var(--todo-item-mt);
}

.todo-menu {
  position: absolute;
  top: 0;
  right: 30px;
  width: 150px;
  padding: 1em;
  border-radius: 5px;
  background-color: #242424;
}

.todo-menu-hidden {
  display: none;
}

.todo-menu li:hover {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
  cursor: pointer;
}

.select-todolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 40px;
}

.select-todolist__option {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  min-height: 40px;
  padding: 0 30px 0 10px;
  background: #242424;
  border-top: #242424 solid 1px;
  pointer-events: none;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.select-todolist__option:hover {
  background-color: #9400D3;
}

.select-todolist:focus .select-todolist__option {
  position: relative;
  pointer-events: all;
}

.select-todolist__input {
  position: absolute;
  left: -99999px;
  opacity: 0;
}

.select-todolist__input:checked + label {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 2;
  border-top: none;
  background: #242424;
}

.select-todolist__input:checked + label:after {
  content: '';
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #9400D3;
  pointer-events: none;
  z-index: 3;
}

.select-todolist__input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: '';
  background: #242424;
}

.image-loader-wrapper {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.image-loader-wrapper.show {
  opacity: 1;
}

.image-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.image-loader div {
  -webkit-animation: image-loader 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: image-loader 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.image-loader div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #d8d8d8;
  margin: -4px 0 0 -4px;
}

.image-loader div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.image-loader div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.image-loader div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.image-loader div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.image-loader div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.image-loader div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.image-loader div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.image-loader div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.image-loader div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.image-loader div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.image-loader div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.image-loader div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.image-loader div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.image-loader div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.image-loader div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.image-loader div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes image-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes image-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*
Styles for the header, footer, the grid system e.t.c.
*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30vh;
}

:root {
  --time-fs: 10em;
  --date-fs: 2em;
  --greeting-fs: 3em;
  --slide-btn-s: 50px;
}

@media (max-width: 1024px) {
  :root {
    --time-fs: 7em;
    --date-fs: 1.6em;
    --greeting-fs: 1.6em;
    --slide-btn-s: 30px;
  }
}

@media (max-width: 768px) {
  :root {
    --time-fs: 5em;
    --slide-btn-s: 20px;
  }
}

@media (max-width: 420px) {
  :root {
    --time-fs: 4em;
    --date-fs: 1.3em;
    --greeting-fs: 1.2em;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

.time {
  font-size: var(--time-fs);
}

.date {
  font-size: var(--date-fs);
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.2em;
          column-gap: 0.2em;
  margin-top: 1em;
  font-size: var(--greeting-fs);
}

.greeting__daytime {
  width: 50%;
  text-align: right;
}

.greeting__name {
  width: 40%;
  padding-top: 4px;
}

.slide-btn {
  position: absolute;
  top: 45%;
  width: var(--slide-btn-s);
  height: var(--slide-btn-s);
}

.slide-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 768px) {
  .slide-btn {
    top: 47%;
  }
}

.slide-prev-btn {
  left: var(--widgets-p);
  background: url("../img/prev.png") no-repeat center;
  background-size: contain;
}

.slide-next-btn {
  right: var(--widgets-p);
  background: url("../img/next.png") no-repeat center;
  background-size: contain;
}

:root {
  --quote-text-fs: 1.5em;
  --quote-author-fs: 1.2em;
  --change-btn-s: 30px;
  --setting-btn-s: 50px;
  --todo-btn-s: 50px;
  --setting-btn-l: 2em;
  --copyright-fs: 1em;
}

@media (max-width: 1024px) {
  :root {
    --quote-text-fs: 1.2em;
    --quote-author-fs: 1em;
    --change-btn-s: 20px;
    --setting-btn-s: 40px;
    --todo-btn-s: 40px;
  }
}

@media (max-width: 420px) {
  :root {
    --quote-text-fs: 1em;
    --quote-author-fs: 0.8em;
    --copyright-fs: .8em;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--widgets-p);
}

.quote__change-btn {
  width: var(--change-btn-s);
  height: var(--change-btn-s);
  margin-bottom: 2em;
  background: url("../img/refresh.png");
  background-size: contain;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.quote__change-btn.revert {
  -webkit-transform: rotateX(190deg);
          transform: rotateX(190deg);
}

.quote__text {
  text-align: center;
  font-size: var(--quote-text-fs);
  font-style: italic;
}

@media (max-width: 768px) {
  .quote__text {
    line-height: 36px;
  }
}

.quote__author {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 1em;
  font-size: var(--quote-author-fs);
}

.setting-btn {
  position: absolute;
  bottom: var(--widgets-p);
  left: var(--widgets-p);
  width: var(--setting-btn-s);
  height: var(--setting-btn-s);
  background: url("../img/settings.png");
  background-size: contain;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
  cursor: pointer;
}

.setting-btn:hover {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.setting-btn.revert {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.todo-btn {
  position: absolute;
  bottom: var(--widgets-p);
  right: var(--widgets-p);
  width: var(--todo-btn-s);
  height: var(--todo-btn-s);
  background: url("../img/to-do-list.png");
  background-size: contain;
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
  cursor: pointer;
}

.todo-btn:hover {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.todo-btn.revert {
  -webkit-filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
          filter: invert(90%) sepia(96%) saturate(7329%) hue-rotate(284deg) brightness(90%) contrast(114%);
}

.copyright {
  position: absolute;
  bottom: var(--widgets-p);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-size: var(--copyright-fs);
}

.copyright__year {
  color: #000;
}

.copyright__github {
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #000;
}

.copyright__github:hover {
  color: #9400D3;
}

.copyright__logo {
  display: block;
  width: 50px;
  height: 20px;
}

.copyright__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
