.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.time {
  font-size: 10em;
}

.date {
  font-size: 2em;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .2em;
  margin-top: 1em;
  font-size: 3em;

  &__daytime {
    width: 60%;
    text-align: right;
  }

  &__name {
    display: block;
    width: 40%;
    padding-top: 4px;
    font-size: inherit;
    border: 0;
    outline: 0;
    background-color: transparent;
  }
}