.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__change-btn {
    width: 30px;
    height: 30px;
    margin-bottom: 2em;
    background: url('../img/refresh.png');
    background-size: contain;
    transition: 0.2s linear;
  }

  &__change-btn.revert {
    transform: rotateX(190deg);
  }

  &__text {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
  }

  &__author {
    align-self: flex-end;
    padding-top: 1em;
    font-size: 1.2em;
  }
}

.setting-btn {
  position: absolute;
  bottom: 2em;
  left: 2em;
  width: 50px;
  height: 50px;
  background: url('../img/settings.png');
  background-size: contain;
  transition: 0.7s linear;
  cursor: pointer;

  &:hover {
    filter: $filter-purple;
  }

  &.revert {
    filter: $filter-purple;
    transform: rotate(90deg);
  }
}

.todo-btn {
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: 50px;
  height: 50px;
  background: url('../img/to-do-list.png');
  background-size: contain;
  transition: 0.7s linear;
  cursor: pointer;

  &:hover {
    filter: $filter-purple;
  }

  &.revert {
    filter: $filter-purple;
  }
}