:root {
  --quote-text-fs: 1.5em;
  --quote-author-fs: 1.2em;
  --change-btn-s: 30px;
  --setting-btn-s: 50px;
  --todo-btn-s: 50px;
}

@media (max-width: 1024px) {
  :root {
    --quote-text-fs: 1.2em;
    --quote-author-fs: 1em;
    --change-btn-s: 20px;
    --setting-btn-s: 40px;
    --todo-btn-s: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__change-btn {
    width: var(--change-btn-s);
    height: var(--change-btn-s);
    margin-bottom: 2em;
    background: url('../img/refresh.png');
    background-size: contain;
    transition: 0.2s linear;
  }

  &__change-btn.revert {
    transform: rotateX(190deg);
  }

  &__text {
    text-align: center;
    font-size: var(--quote-text-fs);
    font-style: italic;
  }

  &__author {
    align-self: flex-end;
    padding-top: 1em;
    font-size: var(--quote-author-fs);
  }
}

.setting-btn {
  position: absolute;
  bottom: 2em;
  left: 2em;
  width: var(--setting-btn-s);
  height: var(--setting-btn-s);
  background: url('../img/settings.png');
  background-size: contain;
  transition: 0.7s linear;
  cursor: pointer;

  &:hover {
    filter: $filter-purple;
  }

  &.revert {
    filter: $filter-purple;
    transform: rotate(90deg);
  }
}

.todo-btn {
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: var(--todo-btn-s);
  height: var(--todo-btn-s);
  background: url('../img/to-do-list.png');
  background-size: contain;
  transition: 0.7s linear;
  cursor: pointer;

  &:hover {
    filter: $filter-purple;
  }

  &.revert {
    filter: $filter-purple;
  }
}