.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.time {
  font-size: 10em;
}

.date {
  font-size: 2em;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2em;
  margin-top: 1em;
  font-size: 3em;

  &__daytime {
    width: 60%;
    text-align: right;
  }

  &__name {
    display: block;
    width: 40%;
    padding-top: 4px;
    font-size: inherit;
    text-transform: capitalize;
    border: 0;
    outline: 0;
    background-color: transparent;
  }
}

.name-active {
  color: red;
}

.name-inactive {
  color: $text-primary;
}

.slide-btn {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;

  &:hover {
    opacity: .5;
    cursor: pointer;
  }
}

.slide-prev-btn {
  left: 2em;
  background: url('/momentum/img/prev.png');
  background-size: contain;
}

.slide-next-btn {
  right: 2em;
  background: url('/momentum/img/next.png');
  background-size: contain;
}
