:root {
  --time-fs: 10em;
  --date-fs: 2em;
  --greeting-fs: 3em;
  --slide-btn-s: 50px;
}

@media (max-width: 1024px) {
  :root {
    --time-fs: 7em;
    --date-fs: 1.6em;
    --greeting-fs: 1.6em;
    --slide-btn-s: 30px;
  }
}

@media (max-width: 768px) {
  :root {
    --time-fs: 5em;
    --slide-btn-s: 20px;
  }
}

@media (max-width: 420px) {
  :root {
    --time-fs: 4em;
    --date-fs: 1.3em;
    --greeting-fs: 1.2em;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.time {
  font-size: var(--time-fs);
}

.date {
  font-size: var(--date-fs);
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2em;
  margin-top: 1em;
  font-size: var(--greeting-fs);

  &__daytime {
    width: 50%;
    text-align: right;
  }

  &__name {
    width: 40%;
    padding-top: 4px;
  }
}

.slide-btn {
  position: absolute;
  top: 45%;
  width: var(--slide-btn-s);
  height: var(--slide-btn-s);

  &:hover {
    transform: scale(1.2);
  }

  @media (max-width: 768px) {
    top: 47%;
  }
}

.slide-prev-btn {
  left: var(--widgets-p);
  background: url('../img/prev.png') no-repeat center;
  background-size: contain;
}

.slide-next-btn {
  right: var(--widgets-p);
  background: url('../img/next.png') no-repeat center;
  background-size: contain;
}
