* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: $text-primary;
  background: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  transition: background-image 0.5s linear;
  background-size: cover;
}

ul {
  list-style-type: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    transition: 0.5s linear;
    filter: $filter-purple;
  }
}

.input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-transform: capitalize;
  border: 0;
  outline: 0;
  background-color: transparent;

  &-active {
    color: $text-primary;
    transition: 0.5s linear;
    filter: $filter-purple;
  }

  &-inactive {
    color: $text-primary;
  }
}

.hidden {
  display: none;
}

.widget {
  transition: opacity .5s linear;
}

.widget-hidden {
  opacity: 0;
}
