* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: $text-primary;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 0.5s linear;
}

.btn {
  border: none;
  outline: none;
  transition: .2s ease;

  &:hover {
    transform: scale(1.2);
  }
}