.setting-area {
  position: absolute;
  left: 2em;
  bottom: 7em;
  width: 500px;
  height: 525px;
  padding: 0 2em;
  background-color: $color-dark;
  border-radius: 5px;
  opacity: 0;
  transition: 0.7s linear;
  z-index: -1;

  &.show {
    z-index: 2;
    opacity: 1;
  }
  &__photos {
    display: flex;
    justify-content: space-between;
  }
}

.input-tag {
  height: 2em;
  padding: 1em;
  background-color: $color-black;
}

.setting-section {
  padding: 1.5em 0;

  &--underline {
    border-bottom: 1px solid #d8d8d8;
  }

  &__heading {
    padding-bottom: 0.5em;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
  &__info-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.radio {
  &-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1.1em;
    user-select: none;
  }

  &-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $text-primary;
    border-radius: 50%;
  }

  &-container &-input:checked ~ &-checkmark {
    background-color: $color-accent;
  }

  &-checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  &-container input:checked ~ &-checkmark:after {
    display: block;
  }

  &-container &-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #d8d8d8;
  }
}

.checkbox {
  &-container {
    display: block;
    position: relative;
    width: 130px;
    margin: 10px 0;
    padding-left: 35px;
    font-size: 1.1em;
    cursor: pointer;
    user-select: none;
  }

  &-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $text-primary;
  }

  &-container:hover &-input ~ &-checkmark {
    background-color: #ccc;
  }

  &-container &-input:checked ~ &-checkmark {
    background-color: $color-accent;
  }

  &-checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  &-container &-input:checked ~ &-checkmark:after {
    display: block;
  }

  &-container &-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $text-primary;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}
