.weather-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  &__city {
    padding-bottom: 0.2em;
    font-size: 1.5em;
    border-bottom: 1px solid $text-primary;
  }
  &__error {
    display: none;
  }
  &__icon {}
  &__info{}
}