:root {
  --weather-city-fs: 1.5em;
  --weather-error-fs: 1.3em;
  --weather-info-fs: 1.5em;
}

@media (max-width: 1024px) {
  :root {
    --weather-city-fs: 1.2em;
    --weather-error-fs: 1em;
    --weather-info-fs: 1.3em;
  }
}

.weather-widget {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 300px;
  padding: 1em;
  
  &__city {
    padding-bottom: 0.2em;
    font-size: var(--weather-city-fs);
    border-bottom: 1px solid $text-primary;
  }

  &__error {
    height: 70%;
    font-size: var(--weather-error-fs);
    color: #ff2424;
  }

  &__error.hidden {
    display: none;
  }

  &__info{
    font-size: var(--weather-info-fs);
  }
}

.weather-widget__info li + li {
  margin-top: .5em;
}

.weather-info-main {
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-size: 2em;
}

.weather-desc {
  text-transform: capitalize;
}